---
---


<style>
.btn{
    margin-bottom:5px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:15px;
    padding-right:15px;
    height:20px:
}
pre{
    white-space: pre-wrap;  
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap; 
    word-wrap: break-word; 
    width:100%; overflow-x:auto;
}
</style>


<div class="text-justify">
  {% if entry.title %}
    <strong>{{ entry.title }}</strong><br/>
    {% assign reference_without_title = reference | replace: entry.title, "" %}
    {% assign reference_without_title = reference_without_title | replace: ".\n", "\n" %}
    {{ reference_without_title | remove_first: '.' }}
  {% else %}
    {{ reference }}
  {% endif %}
</div>


{% assign bibtest = false %}
{% if entry.file %}
{% assign bibfile = "/papers/" | append: entry.file %}
{% for file in site.static_files %}
  {% if file.path contains bibfile %}
   {% assign bibtest = true %}
  {% endif %}
{% endfor %}
{% endif %}


{% if bibtest %}
<a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.file }}" target="_blank"><button class="btn btn-success btm-sm">PDF</button></a>
{% endif %}

{% assign bibvideo = false %}
{% if entry.video %}
{% assign bibvideo = "/talks/" | append: entry.video %}
{% for video in site.static_files %}
  {% if video.path contains bibvideo %}
   {% assign bibvideo = true %}
  {% endif %}
{% endfor %}
{% endif %}


{% if bibvideo %}
<a href="{{ site.url }}{{ site.baseurl }}/talks/{{ entry.video }}" target="_blank"><button class="btn btn-success btm-sm">Video</button></a>
{% endif %}

{% assign bibslides = false %}
{% if entry.slides %}
{% assign bibslides = "/slides/" | append: entry.slides %}
{% for slides in site.static_files %}
  {% if slides.path contains bibslides %}
   {% assign bibslides = true %}
  {% endif %}
{% endfor %}
{% endif %}


{% if bibslides %}
<a href="{{ site.url }}{{ site.baseurl }}/slides/{{ entry.slides }}" target="_blank"><button class="btn btn-primary btm-sm">Slides</button></a>
{% endif %}


{% assign bibdefenceslides = false %}
{% if entry.defenceslides %}
{% assign bibdefenceslides = true %}
{% endif %}

{% if bibdefenceslides %}
<a href="{{ entry.defenceslides }}" target="_blank"><button class="btn btn-primary btm-sm">Defence Slides</button></a>
{% endif %}


{% if entry.doi %}
{% if entry.type == 'unpublished' %}
<a href="{{ entry.doi | prepend: 'https://arxiv.org/abs/' }}" target="_blank"><button class="btn btn-primary btm-sm">ARXIV</button></a>
{% else %}
<a href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank"><button class="btn btn-primary btm-sm">DOI</button></a>
{% endif %}
{% endif %}

{% if entry.type == 'unpublished' or entry.type == 'article' or  entry.type == 'thesis' or entry.type == 'inproceedings' or entry.type == 'report' %}
<button class="btn btn-danger btm-sm"  onclick="toggleBibtex{{entry.key}}()">BIB</button>
{% endif %}

{% if entry.abstract %}
<button class="btn btn-warning btm-sm"  onclick="toggleAbstract{{entry.key}}()">ABSTRACT</button>
{% endif %}

{% if entry.website %}
<a href="{{ entry.website}}" target="_blank"><button class="btn btn-success btm-sm">website</button></a>
{% endif %}

{% if entry.package %}
<a href="{{ entry.package}}" target="_blank"><button class="btn btn-primary btm-sm">package</button></a>
{% endif %}

{% if entry.github %}
<a href="{{ entry.github}}" target="_blank"><button class="btn btn-warning btm-sm">github</button></a>
{% endif %}

{% if entry.abstract %}
<div id="a{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{ entry.bibtex | remove: "entry.abstract" }}</pre>
</div>
{% else %}
<div id="a{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{ entry.bibtex }}</pre>
</div>
{% endif %}

<div id="b{{entry.key}}" style="display: none; background-color:black; border-radius:5px; padding:10px; margin-bottom:20px;">
<pre>{{entry.abstract}}</pre>
</div>


<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function toggleAbstract{{entry.key}}(parameter) {
    var x= document.getElementById('b{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
